/* Dev styles */
html,
body {
  background: url('../background2.jpg') center top no-repeat;
  /*background-size: contain;*/
  height: 100%;
}

/* Container styles - chat will fill 100% of it's container */
.chat-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: auto;
  margin-top: 25px;
  margin-left: 25px;
}

/* Custom chat styles */
.nav-tabs {
  border: none;
}

.chat-tabs {
  border: none;
}


.chat-tab > a {
  color: #285943;
  padding: 2px 10px !important;
  margin: 0 10px;
  background: linear-gradient(to bottom, rgba(50, 50, 50, .4) 0%, transparent 100%);
  border-top: 1px solid rgba(255,255,255,0.6) !important;
  border-left: 1px solid rgba(255,255,255,0.6) !important;
  border-right: 1px solid rgba(255,255,255,0.6) !important;
  border-bottom: 0 !important;
}

.chat-tab > a:nth-child(1) {
  margin-left: 3px;
}


.chat-window {

}

.chat-pane {
  height: 150px;
  background: rgba(50, 50, 50, .4);
  border: 1px solid #D7FFF1;
  border-radius: 5px;
  padding: 5px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
}

.chat-pane::-webkit-scrollbar-track {
	background-color: transparent;
}

.chat-pane::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

.chat-pane::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A7AFAD;
}

.chat-input-container {
  margin: 5px 5px;
  width: 490px
}

.chat-input-text {
  width: 100%;
  background: rgba(50, 50, 50, .4);
  border: 1px solid #A7AFAD;
  border-radius: 5px;
}

.chat-input-text[value] {
  user-select: none;
}

.chat-input-text[type=text] {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #D7FFF1;
  padding: 5px;
}

.chat-input-text:focus {
  outline: none;
  border: 1px solid #FFF;
}

.chat-ln {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #D7FFF1;
  padding-left: 5px;
  line-height: normal;
  word-break: break-all;
}

.chat-ln--time {
  color: #D7FFF1;
}

.chat-ln--time::before {
  content: "[";
}

.chat-ln--time::after {
  content: "]";
}

.chat-ln--clan {
  color: #C9E8B7;
}

.chat-ln--clan::before {
  content: "[";
}

.chat-ln--clan::after {
  content: "]";
}

.chat-ln--username {
  color: #8FE388;
}

.chat-ln--username::before {
  content: "[";
  color: #C9E8B7;
}

.chat-ln--username::after {
  content: "]";
  color: #C9E8B7;
}
